In [53]:
import pandas as pd
import statsmodels.api as sm

In [57]:
data = pd.read_csv('RELIANCE.csv')
#Printing the dataset
print(data)

       Symbol Series       Date  Prev Close  Adj_Open  Adj_High  Adj_Low  \
0    RELIANCE     EQ  02-Apr-19     1391.85   1398.00   1403.10  1380.10
1    RELIANCE     EQ  03-Apr-19     1389.70   1392.75   1403.00  1372.00
2    RELIANCE     EQ  04-Apr-19     1375.20   1379.00   1383.70  1347.25
3    RELIANCE     EQ  05-Apr-19     1353.05   1360.95   1363.90  1343.00
4    RELIANCE     EQ  08-Apr-19     1353.90   1356.00   1357.50  1323.70
..        ...    ...        ...         ...       ...       ...      ...
490  RELIANCE     EQ  24-Mar-21     2087.50   2079.75   2079.75  2040.40
491  RELIANCE     EQ  25-Mar-21     2047.30   2054.00   2054.00  1985.00
492  RELIANCE     EQ  26-Mar-21     1991.45   2012.00   2013.70  1973.70
493  RELIANCE     EQ  30-Mar-21     1994.65   2008.00   2048.90  1991.55
494  RELIANCE     EQ  31-Mar-21     2029.30   2018.00   2049.90  1999.00

     Last Price  Adj_Close  Average Price  Total Traded Quantity  \
0       1388.20    1389.70        1390.35                8012636
1       1374.60    1375.20        1390.20                7849461
2       1354.50    1353.05        1360.64                8375674
3       1355.85    1353.90        1352.52                6728239
4       1328.00    1329.25        1335.09                8723577
..          ...        ...            ...                    ...
490     2048.55    2047.30        2055.87                7763726
491     1993.95    1991.45        2011.25               10153757
492     1994.00    1994.65        1995.09                9313160
493     2031.90    2029.30        2026.44                9433850
494     2005.65    2003.10        2017.21                7499740

         Turnover  Adj_Volume
0    1.114037e+10      168893
1    1.091230e+10      169662
2    1.139626e+10      177047
3    9.100090e+09      131955
4    1.164673e+10      216174
..            ...         ...
490  1.596121e+10      222445
491  2.042174e+10      292881
492  1.858056e+10      296946
493  1.911715e+10      230499
494  1.512853e+10      193340

[495 rows x 13 columns]

In [62]:
data

,Symbol,Series,Date,Prev Close,Adj_Open,Adj_High,Adj_Low,Last Price,Adj_Close,Average Price,Total Traded Quantity,Turnover,Adj_Volume
0,RELIANCE,EQ,02-Apr-19,1391.85,1398.00,1403.10,1380.10,1388.20,1389.70,1390.35,8012636,1.114037e+10,168893
1,RELIANCE,EQ,03-Apr-19,1389.70,1392.75,1403.00,1372.00,1374.60,1375.20,1390.20,7849461,1.091230e+10,169662
2,RELIANCE,EQ,04-Apr-19,1375.20,1379.00,1383.70,1347.25,1354.50,1353.05,1360.64,8375674,1.139626e+10,177047
3,RELIANCE,EQ,05-Apr-19,1353.05,1360.95,1363.90,1343.00,1355.85,1353.90,1352.52,6728239,9.100090e+09,131955
4,RELIANCE,EQ,08-Apr-19,1353.90,1356.00,1357.50,1323.70,1328.00,1329.25,1335.09,8723577,1.164673e+10,216174
...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,RELIANCE,EQ,24-Mar-21,2087.50,2079.75,2079.75,2040.40,2048.55,2047.30,2055.87,7763726,1.596121e+10,222445
491,RELIANCE,EQ,25-Mar-21,2047.30,2054.00,2054.00,1985.00,1993.95,1991.45,2011.25,10153757,2.042174e+10,292881
492,RELIANCE,EQ,26-Mar-21,1991.45,2012.00,2013.70,1973.70,1994.00,1994.65,1995.09,9313160,1.858056e+10,296946
493,RELIANCE,EQ,30-Mar-21,1994.65,2008.00,2048.90,1991.55,2031.90,2029.30,2026.44,9433850,1.911715e+10,230499
494,RELIANCE,EQ,31-Mar-21,2029.30,2018.00,2049.90,1999.00,2005.65,2003.10,2017.21,7499740,1.512853e+10,193340

In [63]:
df = data['Adj_Close'].pct_change()*100

In [64]:
df

0           NaN
1     -1.043391
2     -1.610675
3      0.062821
4     -1.820666
         ...
490   -1.925749
491   -2.727983
492    0.160687
493    1.737147
494   -1.291086
Name: Adj_Close, Length: 495, dtype: float64

In [65]:
df = df.rename("Today")

In [66]:
df

0           NaN
1     -1.043391
2     -1.610675
3      0.062821
4     -1.820666
         ...
490   -1.925749
491   -2.727983
492    0.160687
493    1.737147
494   -1.291086
Name: Today, Length: 495, dtype: float64

In [67]:
df=df.reset_index()

In [68]:
df

     index     Today
0        0       NaN
1        1 -1.043391
2        2 -1.610675
3        3  0.062821
4        4 -1.820666
..     ...       ...
490    490 -1.925749
491    491 -2.727983
492    492  0.160687
493    493  1.737147
494    494 -1.291086

[495 rows x 2 columns]

In [69]:
for i in range(1,6):
    df['Lag'+str(i)]=df ['Today'].shift(i)

In [70]:
df

     index     Today      Lag1      Lag2      Lag3      Lag4      Lag5
0        0       NaN       NaN       NaN       NaN       NaN       NaN
1        1 -1.043391       NaN       NaN       NaN       NaN       NaN
2        2 -1.610675 -1.043391       NaN       NaN       NaN       NaN
3        3  0.062821 -1.610675 -1.043391       NaN       NaN       NaN
4        4 -1.820666  0.062821 -1.610675 -1.043391       NaN       NaN
..     ...       ...       ...       ...       ...       ...       ...
490    490 -1.925749  1.217029 -0.941402  3.628490 -2.250225 -2.154146
491    491 -2.727983 -1.925749  1.217029 -0.941402  3.628490 -2.250225
492    492  0.160687 -2.727983 -1.925749  1.217029 -0.941402  3.628490
493    493  1.737147  0.160687 -2.727983 -1.925749  1.217029 -0.941402
494    494 -1.291086  1.737147  0.160687 -2.727983 -1.925749  1.217029

[495 rows x 7 columns]

In [71]:
df['Adj_Volume']= data.Adj_Volume.shift(1).values/1000_000_000

In [72]:
df = df.dropna()

In [73]:
df

,index,Today,Lag1,Lag2,Lag3,Lag4,Lag5,Adj_Volume
6,6,-0.228559,0.391198,-1.820666,0.062821,-1.610675,-1.043391,0.000203
7,7,1.156677,-0.228559,0.391198,-1.820666,0.062821,-1.610675,0.000152
8,8,-0.274725,1.156677,-0.228559,0.391198,-1.820666,0.062821,0.000140
9,9,-0.219641,-0.274725,1.156677,-0.228559,0.391198,-1.820666,0.000148
10,10,0.268627,-0.219641,-0.274725,1.156677,-0.228559,0.391198,0.000091
...,...,...,...,...,...,...,...,...
490,490,-1.925749,1.217029,-0.941402,3.628490,-2.250225,-2.154146,0.000221
491,491,-2.727983,-1.925749,1.217029,-0.941402,3.628490,-2.250225,0.000222
492,492,0.160687,-2.727983,-1.925749,1.217029,-0.941402,3.628490,0.000293
493,493,1.737147,0.160687,-2.727983,-1.925749,1.217029,-0.941402,0.000297
494,494,-1.291086,1.737147,0.160687,-2.727983,-1.925749,1.217029,0.000230

In [74]:
df['Direction'] = [1 if i >0 else 0 for i in df['Today']]

<ipython-input-74-53ab8788f5dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Direction'] = [1 if i >0 else 0 for i in df['Today']]

In [75]:
df

,index,Today,Lag1,Lag2,Lag3,Lag4,Lag5,Adj_Volume,Direction
6,6,-0.228559,0.391198,-1.820666,0.062821,-1.610675,-1.043391,0.000203,0
7,7,1.156677,-0.228559,0.391198,-1.820666,0.062821,-1.610675,0.000152,1
8,8,-0.274725,1.156677,-0.228559,0.391198,-1.820666,0.062821,0.000140,0
9,9,-0.219641,-0.274725,1.156677,-0.228559,0.391198,-1.820666,0.000148,0
10,10,0.268627,-0.219641,-0.274725,1.156677,-0.228559,0.391198,0.000091,1
...,...,...,...,...,...,...,...,...,...
490,490,-1.925749,1.217029,-0.941402,3.628490,-2.250225,-2.154146,0.000221,0
491,491,-2.727983,-1.925749,1.217029,-0.941402,3.628490,-2.250225,0.000222,0
492,492,0.160687,-2.727983,-1.925749,1.217029,-0.941402,3.628490,0.000293,1
493,493,1.737147,0.160687,-2.727983,-1.925749,1.217029,-0.941402,0.000297,1
494,494,-1.291086,1.737147,0.160687,-2.727983,-1.925749,1.217029,0.000230,0

In [76]:
df = sm.add_constant(df)

In [77]:
df

,const,index,Today,Lag1,Lag2,Lag3,Lag4,Lag5,Adj_Volume,Direction
6,1.0,6,-0.228559,0.391198,-1.820666,0.062821,-1.610675,-1.043391,0.000203,0
7,1.0,7,1.156677,-0.228559,0.391198,-1.820666,0.062821,-1.610675,0.000152,1
8,1.0,8,-0.274725,1.156677,-0.228559,0.391198,-1.820666,0.062821,0.000140,0
9,1.0,9,-0.219641,-0.274725,1.156677,-0.228559,0.391198,-1.820666,0.000148,0
10,1.0,10,0.268627,-0.219641,-0.274725,1.156677,-0.228559,0.391198,0.000091,1
...,...,...,...,...,...,...,...,...,...,...
490,1.0,490,-1.925749,1.217029,-0.941402,3.628490,-2.250225,-2.154146,0.000221,0
491,1.0,491,-2.727983,-1.925749,1.217029,-0.941402,3.628490,-2.250225,0.000222,0
492,1.0,492,0.160687,-2.727983,-1.925749,1.217029,-0.941402,3.628490,0.000293,1
493,1.0,493,1.737147,0.160687,-2.727983,-1.925749,1.217029,-0.941402,0.000297,1
494,1.0,494,-1.291086,1.737147,0.160687,-2.727983,-1.925749,1.217029,0.000230,0

In [78]:
X = df [['const','Lag1','Lag2','Lag3','Lag4','Lag5','Adj_Volume']]

In [79]:
y = df.Direction

In [80]:
model = sm.Logit(y,X)

In [81]:
result=model.fit()

Optimization terminated successfully.
         Current function value: 0.689627
         Iterations 7

In [82]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Direction   No. Observations:                  489
Model:                          Logit   Df Residuals:                      482
Method:                           MLE   Df Model:                            6
Date:                Thu, 15 Apr 2021   Pseudo R-squ.:                0.005052
Time:                        22:54:53   Log-Likelihood:                -337.23
converged:                       True   LL-Null:                       -338.94
Covariance Type:            nonrobust   LLR p-value:                    0.7540
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0942      0.180     -0.524      0.600      -0.447       0.258
Lag1          -0.0332      0.038     -0.872      0.383      -0.108       0.041
Lag2           0.0180      0.038      0.471      0.637      -0.057       0.093
Lag3           0.0021      0.038      0.056      0.955      -0.072       0.076
Lag4           0.0090      0.038      0.237      0.813      -0.065       0.083
Lag5           0.0505      0.038      1.328      0.184      -0.024       0.125
Adj_Volume   319.9404    492.555      0.650      0.516    -645.449    1285.330
==============================================================================
"""

In [83]:
prediction = result.predict(X)

In [84]:
prediction

6      0.464519
7      0.471147
8      0.473940
9      0.473523
10     0.489328
         ...
490    0.449600
491    0.494918
492    0.557937
493    0.476456
494    0.490781
Length: 489, dtype: float64

In [85]:
y

6      0
7      1
8      0
9      0
10     1
      ..
490    0
491    0
492    1
493    1
494    0
Name: Direction, Length: 489, dtype: int64

In [86]:
def confusion_matrix(act,pred):
    predtrans = ['Up' if i > 0.5 else "Down" for  i in pred]
    actuals = ['Up' if i>0 else "Down" for i in act]
    confusion_matrix = pd.crosstab(pd.Series(actuals),
                                  pd.Series(predtrans),
                                   rownames=['Actuals'],
                                   colnames=['Predicted'])
    return confusion_matrix

In [87]:
confusion_matrix(y,prediction)

Predicted  Down   Up
Actuals
Down        141  102
Up          114  132

In [88]:
len(df)

489

In [89]:
(141+132)/489

0.558282208588957

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [106]:
model = sm.Logit(y_train,X_train)

In [107]:
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.687619
         Iterations 7

In [109]:
prediction = result.predict(X_test)

In [110]:
confusion_matrix(y_test,prediction)

Predicted  Down  Up
Actuals
Down         25  26
Up           20  27

In [112]:
(25+27)/len(X_test)

0.5306122448979592